services:
  manager-api:
    image: ghcr.io/thrillee/aegisbox/manager-api:${TAG:-docker-prod}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${API_PORT:-8001}:8001"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        tag: "manager-api"
    networks:
      - aegisbox-network

  smpp-gateway:
    image: ghcr.io/thrillee/aegisbox/smpp-gateway:${TAG:-docker-prod}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${SMPP_PORT:-6886}:6886"
      - "${SP_API_ADDR:-8000}:8000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        tag: "smpp-gateway"
    networks:
      - aegisbox-network

  portal:
    image: ghcr.io/thrillee/aegisbox-portal:${TAG:-docker-prod}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${PORTAL_PORT:-3000}:3000"
    depends_on:
      - manager-api
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        tag: "portal"
    networks:
      - aegisbox-network

networks:
  aegisbox-network:
    driver: bridge
