server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/promtail/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: 'aegisbox-logs'
    static_configs:
      - targets:
          - localhost
        labels:
          job: aegisbox
          __path__: /var/log/aegisbox/*log

  - job_name: 'docker-logs'
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          __path__: /var/lib/docker/containers/*/*-json.log

  - job_name: 'system-logs'
    static_configs:
      - targets:
          - localhost
        labels:
          job: system
          __path__: /var/log/**/*.log
