server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/promtail/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: 'aegisbox-logs'
    static_configs:
      - targets:
          - localhost
        labels:
          job: aegisbox-logs
          __path__: /var/lib/docker/containers/*/*-json.log
    pipeline_stages:
      - json:
          expressions:
            stream: stream
            log: log
            attrs: attrs
      - json:
          source: attrs
          expressions:
            tag: tag
      - labels:
          stream:
          tag:
